<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .table{
           width:70%;
        }
        .table th,td{
            text-align: center;
        }
        td a{
            padding:0 5px;
        }
    </style>
</head>
<body>
<table class="table">
    <tr>
        <th>名字</th>
        <th>电话</th>
        <th>操作</th>
    </tr>
    <%for(var i=0;i<rows.length;i++){%>
     <tr>
         <td>
             <%=rows[i].name%>
         </td>
         <td>
             <%=rows[i].phone%>
         </td>
         <td>
             <a href="/admin/edit/<%=rows[i].id%>">
                 修改
             </a>
             <a href="/admin/del/<%=rows[i].id%>">
                 删除
             </a>
         </td>
     </tr>
    <%}%>

</table>
</body>
</html>