<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/mui.css" />
    <link rel="stylesheet" href="/static/css/mui.min.css" />
    <script src="/static//js/zepto.min.js"></script>
    <script src="/static/js/swiper.jquery.js"></script>
    <script src="/static/js/swiper.animate1.0.2.min.js"></script>
    <script src="/static/js/resize.js"></script>
    <script src="/static/js/iscroll.js"></script>
    <script src="/static/js/mui.js"></script>
    <script src="/static/js/mui.min.js"></script>
</head>
<body>
<div class="news-home">
    <div class="home">
        <%include header.ejs%>
        <div class="swiper-container swiper-container-horizontal main-page" id="swiper-container2">
            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                <div class="swiper-slide swiper-slide-active">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="news-neirong">
                                <div class="news-text">
                                    <a href="/static/html/xiangqingye.html">
                                        <div class="news-box">
                                            <p>从中央经济工作会议看当前国内国际经济新形势</p>
                                            <div class="bottom">
                                                <span class="biank">视频</span>
                                                <span class="nobiank">一首日光曲</span>
                                                <div class="news-pinglun">
                                                    <span>**评</span>
                                                    <span class="iconfont"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-left">
                                            <img src="/static/img/ff98be17179b699_w550_h366.jpg" alt="" />
                                        </div>
                                        <div class="line"></div>
                                    </a>
                                </div>
                                <div class="news-text">
                                    <a href="">
                                        <div class="news-box">
                                            <p>男子无意拍下可怕一幕看完让人觉得心有余悸 ！</p>
                                            <div class="bottom">
                                                <span class="nobiank">橘子娱乐</span>
                                                <div class="news-pinglun">
                                                    <span>**评</span>
                                                    <span class="iconfont"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-left">
                                            <img src="/static/img/2.jpg" alt="" />
                                        </div>
                                        <div class="line"></div>
                                    </a>
                                </div>
                                <div class="news-text">
                                    <a href="">
                                        <div class="news-box">
                                            <p>被朱镕基称为“娃娃”年轻的他晋升副部</p>
                                            <div class="bottom">
                                                <span class="nobiank">橘子娱乐</span>
                                                <div class="news-pinglun">
                                                    <span>**评</span>
                                                    <span class="iconfont"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-left">
                                            <img src="/static/img/8abc49f4b35ba15_size213_w539_h359.jpg" alt="" />
                                        </div>
                                        <div class="line"></div>
                                    </a>
                                </div>
                                <div class="news-text">
                                    <a href="">
                                        <div class="news-box long">
                                            <p>内蒙古罕见“日柱”持续2小时</p>
                                            <div class="news-img">
                                                <div class="img-box">
                                                    <img src="/static/img/rz1.png" alt="" />
                                                </div>
                                                <div class="img-box">
                                                    <img src="/static/img/rz2.png" alt="" />
                                                </div>
                                                <div class="img-box">
                                                    <img src="/static/img/rz3.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <span class="nobiank">橘子娱乐</span>
                                                <div class="news-pinglun">
                                                    <span>**评</span>
                                                    <span class="iconfont"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </a>
                                </div>

                                <div class="news-text">
                                    <a href="">
                                        <div class="news-box long">
                                            <p>女子辞去工作成全职狗妈妈，养30条狗</p>
                                            <div class="news-img">
                                                <div class="img-box">
                                                    <img src="/static/img/dog1.png" alt="" />
                                                </div>
                                                <div class="img-box">
                                                    <img src="/static/img/dog2.png" alt="" />
                                                </div>
                                                <div class="img-box">
                                                    <img src="/static/img/dog3.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <span class="nobiank">橘子娱乐</span>
                                                <div class="news-pinglun">
                                                    <span>**评</span>
                                                    <span class="iconfont"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </a>
                                </div>
                                <div class="news-text">
                                    <a href="">
                                        <div class="news-box long">
                                            <p>组图：关晓彤白裙仙气十足与大张伟同台互动</p>
                                            <div class="news-img">
                                                <div class="img-box">
                                                    <img src="/static/img/1.png" alt="" />
                                                </div>
                                                <div class="img-box">
                                                    <img src="/static/img/2.png" alt="" />
                                                </div>
                                                <div class="img-box">
                                                    <img src="/static/img/3.png" alt="" />
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <span class="nobiank">橘子娱乐</span>
                                                <div class="news-pinglun">
                                                    <span>**评</span>
                                                    <span class="iconfont"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                    </a>
                                </div>
                                <div class="news-text">
                                    <a href="">
                                        <div class="news-box">
                                            <p>7岁男童失踪后被发现尸首分离，嫌烦已被捕</p>
                                            <div class="bottom">
                                                <span class="nobiank">橘子娱乐</span>
                                                <div class="news-pinglun">
                                                    <span>**评</span>
                                                    <span class="iconfont"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-left">
                                            <img src="/static/img/5.jpg" alt="" />
                                        </div>
                                        <div class="line"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="swiper-slide">-->
                    <!--<div class="mui-scroll-wrapper">-->
                        <!--<div class="mui-scroll">-->
                            <!--<div class="news-neirong">-->
                                <!--<div class="news-banner">-->
                                    <!--<div class="swiper-container news-bans" id="swiper-container3">-->
                                        <!--<div class="swiper-wrapper bans-img">-->
                                            <!--<div class="swiper-slide banimg">-->
                                                <!--<img src="/static/img/ban1.jpg" alt="" />-->
                                                <!--<span>到机场后 这景象让旅客惊呆了</span>-->
                                            <!--</div>-->
                                            <!--<div class="swiper-slide banimg">-->
                                                <!--<img src="/static/img/ban2.3.jpg" alt="" />-->
                                                <!--<span>油光满面，杨幂手捧鲜花似握精灵</span>-->
                                            <!--</div>-->
                                            <!--<div class="swiper-slide banimg">-->
                                                <!--<img src="/static/img/ban3.JPG" alt="" />-->
                                                <!--<span>五名大学生推广汉服获百万投资</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="swiper-pagination"></div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="news-text">-->
                                    <!--<a href="">-->
                                        <!--<div class="news-box long">-->
                                            <!--<p>萌娃颜值高！宋小宝携子女离京偶遇林丹</p>-->
                                            <!--<div class="news-img">-->
                                                <!--<div class="img-box">-->
                                                    <!--<img src="/static/img/sxb1.png" alt="" />-->
                                                <!--</div>-->
                                                <!--<div class="img-box">-->
                                                    <!--<img src="/static/img/sxb2.png" alt="" />-->
                                                <!--</div>-->
                                                <!--<div class="img-box">-->
                                                    <!--<img src="/static/img/sxb3.png" alt="" />-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="bottom">-->
                                                <!--<span class="nobiank">橘子娱乐</span>-->
                                                <!--<div class="news-pinglun">-->
                                                    <!--<span>**评</span>-->
                                                    <!--<span class="iconfont"></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="line"></div>-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="news-text">-->
                                    <!--<a href="">-->
                                        <!--<div class="news-box">-->
                                            <!--<p>陈功：中国经济正渐渐走进一个闷局</p>-->
                                            <!--<div class="bottom">-->
                                                <!--<span class="biank">视频</span>-->
                                                <!--<span class="nobiank">一首日光曲</span>-->
                                                <!--<div class="news-pinglun">-->
                                                    <!--<span>**评</span>-->
                                                    <!--<span class="iconfont"></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="news-left">-->
                                            <!--<img src="/static/img/hq.jpg" alt="" />-->
                                        <!--</div>-->
                                        <!--<div class="line"></div>-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="news-text">-->
                                    <!--<a href="">-->
                                        <!--<div class="news-box">-->
                                            <!--<p>幼师体罚孩子，监控显示其多次踢打两女童</p>-->
                                            <!--<div class="bottom">-->
                                                <!--<span class="biank">视频</span>-->
                                                <!--<span class="nobiank">一首日光曲</span>-->
                                                <!--<div class="news-pinglun">-->
                                                    <!--<span>**评</span>-->
                                                    <!--<span class="iconfont"></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="news-left">-->
                                            <!--<img src="/static/img/da.png" alt="" />-->
                                        <!--</div>-->
                                        <!--<div class="line"></div>-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="news-text">-->
                                    <!--<a href="">-->
                                        <!--<div class="news-box">-->
                                            <!--<p>幸亏中国没买！俄罗斯空军勘察加半岛上米格31</p>-->
                                            <!--<div class="bottom">-->
                                                <!--<span class="biank">视频</span>-->
                                                <!--<span class="nobiank">一首日光曲</span>-->
                                                <!--<div class="news-pinglun">-->
                                                    <!--<span>**评</span>-->
                                                    <!--<span class="iconfont"></span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="news-left">-->
                                            <!--<img src="/static/img/feiji.png" alt="" />-->
                                        <!--</div>-->
                                        <!--<div class="line"></div>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<div class="mui-scroll-wrapper">-->
                        <!--<div class="mui-scroll">-->
                            <!--<div class="news-neirong">-->
                                <!--<div class="news-video">-->
                                    <!--<div class="video-box">-->
                                        <!--<p>社交必备：上流社会喝水指南</p>-->
                                        <!--<div class="video">-->
                                            <!--<img src="/static/img/31.jpg" alt="" />-->
                                        <!--</div>-->
                                        <!--<div class="mail-box">-->
                                            <!--<a href="">-->
                                                <!--<div class="iconfont mail"></div>-->
                                                <!--<span>22</span>-->
                                            <!--</a>-->
                                            <!--<div class="dian">-->
                                                <!--<div class="smdian"></div>-->
                                                <!--<div class="smdian"></div>-->
                                                <!--<div class="smdian"></div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="fenge"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="news-video">-->
                                    <!--<div class="video-box">-->
                                        <!--<p>难以置信，小女孩翻唱汪峰的歌比原唱还好-->
                                            <!--听，全场沸腾了啊！！</p>-->
                                        <!--<div class="video">-->
                                            <!--<img src="/static/img/32.jpg" alt="" />-->
                                        <!--</div>-->
                                        <!--<div class="mail-box">-->
                                            <!--<a href="">-->
                                                <!--<div class="iconfont mail"></div>-->
                                                <!--<span>22</span>-->
                                            <!--</a>-->
                                            <!--<div class="dian">-->
                                                <!--<div class="smdian"></div>-->
                                                <!--<div class="smdian"></div>-->
                                                <!--<div class="smdian"></div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="fenge"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var mySwiper1 = new Swiper('#swiper-container1',{
        watchSlidesProgress : true,
        watchSlidesVisibility : true,
        slidesPerView:6,
        onTap: function(){
            mySwiper2.slideTo( mySwiper1.clickedIndex)
        }
    })

    var mySwiper2 = new Swiper('#swiper-container2',{
        pagination: '.swiper-pagination',
        onSlideChangeStart: function(){
            updateNavPosition();
        }
    })

    function updateNavPosition(){
        $('#swiper-container1 .active-nav').removeClass('active-nav')
        var activeNav = $('#swiper-container1 .swiper-slide').eq(mySwiper2.activeIndex).addClass('active-nav');
        if (!activeNav.hasClass('swiper-slide-visible')) {
            if (activeNav.index()>mySwiper1.activeIndex) {
                var thumbsPerNav = Math.floor(mySwiper1.width/activeNav.width())-1
                mySwiper1.slideTo(activeNav.index()-thumbsPerNav)
            }
            else {
                mySwiper1.slideTo(activeNav.index())
            }
        }
    }
    var mySwiper3 = new Swiper('#swiper-container3',{
        pagination: '.swiper-pagination',
        autoplay : 5000,
        loop : true,
        onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
            swiperAnimateCache(swiper); //隐藏动画元素
            swiperAnimate(swiper); //初始化完成开始动画
        },
        onSlideChangeEnd: function(swiper){
            swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
        }
    })
    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });
</script>